<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <title>Authors</title>
</head>
<body>
<h1>List of authors </h1>

<table class="table table-striped table-responsive-md">
    <tr>
        <th>ID</th>
        <th>Brand</th>
        <th>Name</th>
        <th>Chassis Code</th>
        <th>Description</th>
        <th>buildYear</th>
        <th> hp</th>
        <th>milage</th>
        private Long id ;
        private String Brand;
        private String Name;
        private String Description;
        private int buildYear;
        private int hp;
        private int milage;

    </tr>
    <tr th:each="car : ${carList}">
        <td th:text="${car.id}">String text</td>
        <td th:text="${car.brand}">String text</td>
        <td th:text="${car.name}">String text</td>
        <td th:text="${car.chassisCode}">String text</td>
        <td th:text="${car.description}">String text</td>
        <td th:text="$"
        <td><a th:href="@{/edit/{id}(id=${author.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${author.id})}">Delete</a></td>
    </tr>
</table>
</body>
</html>